[DEFAULT]
debug = False
verbose = True
api_paste_config = api-paste.ini

#api port and listen
api_listen = 0.0.0.0
api_listen_port = 9100 

#addresses
memcache_address = 127.0.0.1:11211
foreman_address=http://192.168.3.218:3000

#set_rules
rule_begin="count=20;master=3;compute=max"
rule_increase="count=10;master=1;compute=max"

[log_config]
logdir = /var/log/monster/
