[DEFAULT]
debug=True
verbose = True
mimic_api_port=9100
foreman_address=http://192.168.10.11:3000
foreman_proxy_address=http://192.168.10.11:8443
rule_begin="count=20;master=1;compute=max"
rule_increase="count=10;master=1;compute=max"
admin_password="admin"
auth_url=http://192.168.10.11:35357/v3


[database]
#connection=sqlite:////opt/db/mimic.sqlite
connection = mysql://root:root@192.168.10.11/foreman
